/GPATH
/GRTAGS
/GTAGS
/gl-basic-rendering
/gl-basic-rendering-ebo
*.d
*.o
*.a
*.test
/gl-vertex-shader-color
/gl-passed-color
/gl-uniform-color
.#*
/gl-texture-basics
/gl-transform-basics
/gl-transform-perspective
*.cap
